<!--index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03 Condition and Loop</title>
    <script src="https://unpkg.com/vue@next"></script>
    <!--or <script src="vue.js"></script> vue.js를 같이 보낸다. -->
</head>
<body>
    <div id="conditional-rendering">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="list-rendering">
        <ul>
          <li v-for="q in todos">
            {{ q.text }}
          </li>
        </ul>

        <ol>
            <li v-for="q in todos">
              {{ q.text }}
            </li>
        </ol>

        <ol>
            <li>{{todos[0].text}}</li>
            <li>{{todos[1].text}}</li>
            <li>{{todos[2].text}}</li>
        </ol>
    </div>
    <script src="index.js"></script>
</body>
</html>